* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

form {
    margin: 10px 0 0;
}

input {
    padding: 10px;
    margin: 20px 0 0;
    width: 100%;
}

select {
    padding: 10px;
    margin: 20px 0 0;
    width: 100%;
}


